<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>SNS 로그인</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    th:onclick="|location.href='oauth2/authorization/google'|"
                    type="button">Google
            </button><button class="w-100 btn btn-secondary btn-lg"
                    th:onclick="|location.href='oauth2/authorization/facebook'|"
                    type="button">FaceBook
        </button><button class="w-100 btn btn-secondary btn-lg"
                    th:onclick="|location.href='oauth2/authorization/naver'|"
                    type="button">Naver
        </button>
        </div>

        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    th:onclick="|location.href='@{/loginForm}'|"
                    type="button">취소</button>
        </div>
    </div>

    </form>

</div> <!-- /container -->
</body>
</html>