<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>SNS 로그인</h2>
    </div>

    <div class="row">
        <div class="col">
            <div>
                <button class="w-100 btn btn-secondary btn-lg"
                        th:onclick="|location.href='oauth2/authorization/google'|"
                        type="button">Google
                </button>
            </div>
            <div>
                <button class="w-100 btn btn-secondary btn-lg"
                        th:onclick="|location.href='oauth2/authorization/facebook'|"
                        type="button">FaceBook
                </button>
            </div>
            <div>
                <button class="w-100 btn btn-secondary btn-lg"
                        th:onclick="|location.href='oauth2/authorization/naver'|"
                        type="button">Naver
                </button>
            </div>
        </div>

        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    th:onclick="|location.href='@{/loginForm}'|"
                    type="button">취소</button>
        </div>
    </div>

    </form>

</div> <!-- /container -->
</body>
</html>